<!DOCTYPE html>
<html>

<head>
    <!-- Load jQuery first -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script type="text/javascript">
        var baseUrl = location.port 
            ? "http://" + document.domain + ":" + location.port 
            : "https://" + document.domain;

        function goHome() {
            window.location.href = baseUrl;
        }

        function getRandomRoomName() {
            const length = 5;
            var result = '';
            var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            for (var i = 0; i < length; i++) {
                result += characters.charAt(Math.floor(Math.random() * characters.length));
            }
            return result;
        }

        function createSession() {
            let roomName = getRandomRoomName();
            window.location.href = baseUrl + '/session?id=' + roomName;
        }

        function joinSession() {
            let sessionId = $('#room-id').val();
            window.location.href = baseUrl + '/session?id=' + sessionId;
        }

        $(document).ready(function () {
            $('#create').on('click', createSession);
            $('#home').on('click', goHome);
            $('#join').on('click', joinSession);
        });
    </script>

    <!-- Bootstrap 4 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Bootstrap 4 JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/mystyle.css') }}">
</head>

<body>
    <div class="text-center">
        <button class="btn shadow-none text-center" id="home">
            <h1>Stream Together</h1>
        </button>
    </div>
    <br />

    <div class="card" style="padding-bottom: 0px;">
        <div class="text-center">
            <h4>Create a new room:</h4>
        </div>
        <div class="text-center mb-3">
            <button id="create" class="btn btn-primary align-middle create_button">Create room</button>
        </div>
    </div>
    <br />

    <div class="card" style="padding-bottom: 0px;">
        <div class="text-center">
            <h4>Or join an existing room:</h4>
        </div>
        <div class="col-centered input-group mb-3 width-medium">
            <input id="room-id" type="text" class="form-control" placeholder="Room ID">
            <div class="input-group-append">
                <button id="join" class="btn btn-primary align-middle">Join</button>
            </div>
        </div>
    </div>
</body>

</html>
