<!DOCTYPE html>
<html>

<head>
  <!-- https://stackoverflow.com/questions/42601478/flask-calling-python-function-on-button-onclick-event -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  <script type=text/javascript>
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const sessionId = urlParams.get('id');// get url
      var heartbeatHandled = false;

      var baseUrl;
      if (location.port) {
          baseUrl = "http://" + document.domain + ":" + location.port;
      } else {
          baseUrl = "https://" + document.domain;
      }

      //https://stackoverflow.com/questions/105034/how-to-create-a-guid-uuid-in-javascript
      const clientId = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);
      // var videoShown = false;

      function getVideoId(url){
        var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#&?]*).*/;
        var match = url.match(regExp);
        return (match&&match[7].length==11)? match[7] : false;
      }

      function showVideo(show=true) {
        $('div#video')[0].style.display = show ? "block" : "none";
      }

      function showJoin(show=true) {
        $('button#join')[0].style.display = show ? "block" : "none";
        $('div#content')[0].style.display = show ? "none" : "block";
      }

      function setVideo() {
        id = getVideoId($('input#link')[0].value);
        if (id) {
          showVideo(false);
          socket.emit("set_video", sessionId, id);
        } else {
          alert("Invalid YouTube URL");
        }
        // showVideo();
      }

      function uploadVideo(video_id) {
        $('input#link')[0].value = 'https://www.youtube.com/watch?v=' + video_id;
        showVideo();
        player.cueVideoById(video_id);
        // player.playVideo();
      }

      function getCurrentlyPlaying() {
        let state = player.getPlayerState();
        return !(state == YT.PlayerState.PAUSED
          || state == YT.PlayerState.CUED
          || state == YT.PlayerState.UNSTARTED
          || state == YT.PlayerState.ENDED);
      }

      function changeVideoState(isPlaying, currentTime) {
        // console.log("video is started");
        if (!getCurrentlyPlaying() && isPlaying)  {
          showVideo();
          player.seekTo(currentTime,true);
          player.playVideo();
        } else if (getCurrentlyPlaying() && !isPlaying) {
          showVideo();
          player.seekTo(currentTime,true);
          player.pauseVideo();
        }
      }

      function handleMessage(message) {
        console.log(message);
        if (message.startsWith('JoinEvent')) {
          console.log('emit heartbeat');
          socket.emit('send_heartbeat', sessionId, player.playerInfo.videoData.video_id, player.getCurrentTime(), getCurrentlyPlaying());
        }
      }

      function goHome() {
        window.location.href = baseUrl;
      }
      
      function joinSession() {
        socket.emit('join', sessionId, clientId);
        showJoin(false);
        heartbeatHandled = false;
      }

      function handleHeartbeat(video_id, currentTime, isPlaying) {
        console.log('handle hearbeat');
        if (!heartbeatHandled && video_id) {
          heartbeatHandled = true;
          $('input#link')[0].value = 'https://www.youtube.com/watch?v=' + video_id;
          showVideo();
          player.cueVideoById(video_id, currentTime);
          if (isPlaying) {
            player.playVideo();
          } else {
            player.pauseVideo();
          }
        }
      }

      function handleConnect() {
        console.log("user is connected");
        $('button#submit').on('click',setVideo);
        $('button#home').on('click', goHome);
        $('button#join').on('click', joinSession);

        socket.on('upload_video', uploadVideo);
        socket.on('change_video_state', changeVideoState);
        socket.on('message', handleMessage);
        socket.on('get_heartbeat', handleHeartbeat);
      }

      var socket;
      function onPlayerReady(event) {
        console.log("on player ready");
        socket = io.connect(baseUrl);
        socket.on('connect', handleConnect);

        $(window).bind('beforeunload', function() {
          socket.emit('leave', sessionId, clientId);
          return 'Are you sure you want to leave?';
        });
      }

      function onPlayerStateChange(event) {
        console.log(event);
        if (event.data == YT.PlayerState.PLAYING) {
          socket.emit('change_video',sessionId,true,event.target.getCurrentTime());
        }
        else if (event.data == YT.PlayerState.PAUSED) {
          socket.emit('change_video',sessionId,false,event.target.getCurrentTime());
        }
      }

      // Imports the youtube api script
      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '100%',
          width: '100%',
          videoId: '',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      $(document).ready(function() {
        showVideo(false);
        showJoin(true);
      });
    </script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mystyle.css') }}">

</head>

<body>

  <div class="text-center">
    <button class="btn shadow-none text-center" id="home">
      <h1>Stream Together</h1>
    </button>
  </div>
  <br />

  <div id="content">
    <div class="input-group mb-3 margin">
      <input type="text" id="link" name="link" class="form-control" placeholder="Type in YouTube link here...">
      <div class="input-group-append">
        <button id=submit class="btn btn-primary align-middle">Submit</button>
      </div>
    </div>
    <br />
  
    <div class="embedded-video-16-9 margin" id="video">
      <div id="player"></div>
    </div>
  </div>

  <div class="center-wrapper">
    <button id=join class="btn btn-primary align-middle">Join Session</button>
  </div>
</body>

</html>